<div class="container-fluid">
  <div class="row heading">
    <div class="d-flex justify-content-center col-md-12">
      <h1 class="main-heading">Welcome To Code Squade Solution</h1>
    </div>
    <div class="d-flex justify-content-center col-md-12">
      <h4 class="sub-heading">We are a talented team to meet your requirments</h4>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- What we do section -->
  <div class="row justify-content-center ">
    <div class="d-flex justify-content-center col-md-12">
      <h1 class="conent">WHAT WE DO</h1>
    </div>
    <div class="row justify-content-center">
      <mat-card class="example-card col-md-3">
        <mat-card-title>Website Design</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-content>
          <p>This card indeterminates progress bar.</p>
          <p>{{ longText }}</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card col-md-3">
        <mat-card-title>Shool Students & Teacher Management</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-content>
          <p>This card indeterminates progress bar.</p>
          <p>{{ longText }}</p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card col-md-3">
        <mat-card-title>Degital Marketing</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        <mat-card-content>
          <p>This card indeterminates progress bar.</p>
          <p>{{ longText }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <mat-divider></mat-divider>
  <!-- Client Section -->
  <div class="d-flex justify-content-center">
    <h1 class="conent">OUR HAPPY CLIENTS</h1>
  </div>
  <div class="row justify-content-center">
    <mat-card class="example-card col-md-9">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <mat-card-title class="">TARALABALU</mat-card-title>
          <mat-card-subtitle>Central School</mat-card-subtitle>
          <p>
            Our first client We developed a website for a school in Channagiri
            as their requirements and they really liked our work. To see the
            product visit here <a href="www.stcscng.org">www.stcscng.org</a>
          </p>
        </div>
        <div class="col-md-6">
          <img
            class="image"
            src="https://lh3.googleusercontent.com/p/AF1QipNF73YSeI7zAAq5qU6b2oqspQwY_y3SxfSqexXV=w600-h0"
            width="100%" height="100%"
          />
        </div>
      </div>
    </mat-card>
  </div>
  <div class="row justify-content-center">
    <mat-card class="example-card col-md-9">
      <div class="row justify-content-center">
        <div class="col-md-5">
          <mat-card-title class="">MARUTHI </mat-card-title>
          <mat-card-subtitle>CYCLE MART</mat-card-subtitle>
          <p>
            Our first client We developed a website for a school in Channagiri
            as their requirements and they really liked our work. To see the
            product visit here <a href="www.stcscng.org">www.stcscng.org</a>
          </p>
        </div>
        <div class="col-md-6">
          <img
            class="image"
            src="https://content3.jdmagicbox.com/comp/bangalore/d1/080pxx80.xx80.131004123727.k4d1/catalogue/bums-on-the-saddle-shivaji-nagar-bangalore-bicycle-dealers-2zi7yi4.jpg"
            width="100%" height="100%"
          />
        </div>
      </div>
    </mat-card>
  </div>
  <mat-divider></mat-divider>
  <!-- contact section -->
  <div class="row justify-content-center">
    <div class="col-md-12 contact">
      <div class="d-flex justify-content-center">
        <h3 class="contactus">CONTACT US</h3>
      </div>
      <div class="d-flex justify-content-center contact-content">
        <h4 class="con-body">
          For Any Kind Of Business And Technical Support Please Feel Free To
          Contact Us
        </h4>
      </div>
    </div>
    <mat-card class="example-card col-md-3">
      <mat-card-title class="d-flex col-md-12 justify-content-center"
        >Location</mat-card-title
      >
      <div class="d-flex col-md-12 justify-content-center">
        <mat-icon>location_on</mat-icon>
      </div>
      <mat-card-content>
        <p>
          #5 Priyadharshini layout,near modyalpalya circle Naragbavi-560072
          Bangalore Karnataka
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card col-md-3">
      <mat-card-title class="d-flex col-md-12 justify-content-center"
        >Email</mat-card-title
      >
      <div class="d-flex col-md-12 justify-content-center">
        <mat-icon>email</mat-icon>
      </div>
      <mat-card-content class="d-flex col-md-12 justify-content-center">
        <p>codsequadesolution@gmail.com</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="example-card col-md-3">
      <mat-card-title class="d-flex col-md-12 justify-content-center"
        >Call us</mat-card-title
      >
      <div class="d-flex col-md-12 justify-content-center">
        <mat-icon>call</mat-icon>
      </div>
      <mat-card-content class="d-flex col-md-12 justify-content-center">
        <p>9538105846</p>
      </mat-card-content>
    </mat-card>
  </div>

  <footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-instagram"></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">CODE SQUADE SOLUTIONS</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
